/* About section styles */
.about-section {
    display: flex;
    flex-direction: row;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    margin: 0 auto;
}

.about-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.about-right {
    /* flex: 2; */
    padding: 20px;
    color: var(--text-color);
    width: 50%;
    
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-photo {
    width: 400px;
    height: 500px;
    object-fit: cover;

    /*Vignett effect*/
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}

.about-description {
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
}