/* About section styles */
.about-section {
    display: flex;
    flex-direction: row;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    margin: 0 auto;

    animation: fadeIn 1s ease;
}

.about-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.about-right {
    /* flex: 2; */
    padding: 20px;
    width: 50%;
    
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-photo {
    width: 400px;
    height: 500px;
    object-fit: cover;

    /*Vignett effect*/
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}

.about-description {
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
}

.section-title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 40px;
    align-self: center;
    margin: auto;
    margin-left: 0;
}

/* Media queries */

@media screen and (max-width: 1920px) {
    .about-section {
        flex-direction: column;
        width: 80%;
    }

    .about-left {
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 5px;
    }

    .about-right {
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .about-photo {
        width: 300px;
        height: 400px;
    }

    .section-title {
        margin-bottom: 20px;
    }

    .about-description {
        font-size: 0.9rem;
    }
}

/* Media queries for iPhone 12 Pro */
@media screen and (max-width: 450px) {
    .about-section {
      flex-direction: column;
      padding: 20px;
    }
  
    .about-left,
    .about-right {
      width: 100%;
      text-align: center;
    }
  
    .about-photo {
      width: 200px;
      height: 250px;
    }
  
    .section-title {
      font-size: 1.8rem;
      margin: auto;
      margin-bottom: 20px;
    }
  
    .about-description {
      font-size: 0.9rem;
    }
  }

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

