/* Skills section styles */
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
}

.skills-section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25%;
}

.skills-section {
  margin: 20px 0;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.skills-section h2 {
  font-size: 2rem;
  color: var(--text-color);
  margin-bottom: 50px;
}

.circle {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  animation: spin 50s linear infinite; /* Add spinning animation */
}

.circle.frontend {
  /* Add glow */
  border: 2px solid var(--frontend-color);
  box-shadow: 0 0 5px var(--frontend-color), 0 0 10px var(--frontend-color), 0 0 15px var(--frontend-color), 0 0 20px var(--frontend-color), inset 0 0 5px var(--frontend-color), inset 0 0 10px var(--frontend-color), inset 0 0 15px var(--frontend-color), inset 0 0 20px var(--frontend-color);
  background: transparent;
}

.circle.backend {
  /* Add glow */
  border: 2px solid var(--backend-color);
  box-shadow: 0 0 5px var(--backend-color), 0 0 10px var(--backend-color), 0 0 15px var(--backend-color), 0 0 20px var(--backend-color), inset 0 0 5px var(--backend-color), inset 0 0 10px var(--backend-color), inset 0 0 15px var(--backend-color), inset 0 0 20px var(--backend-color);
  background: transparent;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.skill {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin: -25px;
  background-color: var(--skill-bg-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--skill-color);
  text-align: center;
  transition: background-color 0.3s ease;
}

.circle.backend .skill {
  color: var(--backend-color);
}

.skill:hover i {
  transform: rotate(360deg); /* Rotate the icons on hover */
}

.skill i {
  transform: rotate(0deg); /* Keep the icons fixed */
}

.skill:hover {
  font-size: 2.3rem;
}

/* Media queries */
@media screen and (max-width: 1920px) {
  .skills-section-container {
    gap: 10%;
  }

  .circle {
    width: 200px;
    height: 200px;
  }

  .skills-section h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .skill {
    width: 40px;
    height: 40px;
    margin: -20px;
    font-size: 1.2rem;
  }

  .skill:hover {
    font-size: 1.5rem;
  }
}

/* Media queries for iPhone 12 Pro */
@media screen and (max-width: 450px) {
  .skills-section-container {
    flex-direction: column;
    gap: 0;
  }

  .circle {
    width: 150px;
    height: 150px;
  }

  .skills-section h2 {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }

  .skill {
    width: 30px;
    height: 30px;
    margin: -15px;
    font-size: 1rem;
  }

  .skill:hover {
    font-size: 1.2rem;
  }
}